<div style=" background-color: rgb(208,176,157);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 7 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">KNIME
</h2>
</div>

<div style=" background-color: rgb(208,176,157);"  >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style=" border: 1px solid  rgb(208,176,157);" >
<h3 style="margin: auto; padding: 20px; color: rgb(133,143,148); ">1.1 - Importation des librairies</h3>
</div>

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.colors as mcolors
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime
from scipy.stats import chi2_contingency
from scipy.stats import spearmanr
from scipy.stats import pearsonr
from scipy import stats
from sklearn.linear_model import LinearRegression
from scipy.stats import shapiro

<div style=" border: 1px solid  rgb(208,176,157);" >
<h3 style="margin: auto; padding: 20px; color: rgb(133,143,148); ">1.2 - Importation des fichiers de la BDD</h3>
</div>

In [2]:

infoPro = pd.read_excel('Table info_pro.xlsx')

remuneration = pd.read_excel('Table remuneration.xlsx')

salaries = pd.read_excel('Table Salari‚s.xlsx')

finale = pd.read_csv('Table_finale.csv', sep=(','))

<div style=" background-color: rgb(208,176,157);"  >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style=" border: 1px solid  rgb(208,176,157);" >
<h3 style="margin: auto; padding: 20px; color: rgb(133,143,148); ">2.1 - Chargement du fichier INFOPRO</h3>
</div>

In [3]:
#Analyse du fichier customers
print(f'le nombre de valeurs vide dans le fichier est : ')
print(infoPro.isnull().sum())
print("*********************")
print(infoPro.head())
print("*********************")
print(infoPro.info())
print("*********************")
print(infoPro.describe())
print("*********************")

#Le nombre de clé client_id en doublon
print(f'le nombre de clé en doublon: ')
print(infoPro['id_salarié'].duplicated().sum())

#Nombre de doublons dans la table customers
print(infoPro.duplicated(subset=None, keep='first').sum(), "doublons dans la table infoPro.")

le nombre de valeurs vide dans le fichier est :
id_salarié                   0
Ancienneté_an                0
Distance domicile/Travail    0
Service                      0
Work_accident                0
Niveau de satisfaction       0
dtype: int64
*********************
      id_salarié  Ancienneté_an  Distance domicile/Travail          Service  \
0  16000206-8278           12.6                         59        Marketing
1  16011205-0331           11.8                         31       Commercial
2  16020327-1465           11.9                         65               RH
3  16020701-3376           10.2                         59  Compta Finances
4  16020725-8401            7.9                         59       Consultant

  Work_accident  Niveau de satisfaction
0           Non                      67
1           Oui                      66
2           Non                      59
3           Non                      60
4           Non                      34
*********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_salarié                 256 non-null    object
 1   Ancienneté_an              256 non-null    float64
 2   Distance domicile/Travail  256 non-null    int64
 3   Service                    256 non-null    object
 4   Work_accident              256 non-null    object
 5   Niveau de satisfaction     256 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 12.1+ KB
None
*********************
       Ancienneté_an  Distance domicile/Travail  Niveau de satisfaction
count     256.000000                 256.000000              256.000000
mean       13.160937                  38.433594               50.687500
std         7.020684                  19.834301               27.837413
min         0.300000                   3.000000                1.000000
25%         7.375000                  22.000000               30.000000
50%        12.750000                  40.500000               50.500000
75%        19.300000                  57.000000               73.000000
max        25.000000                  70.000000              100.000000
*********************
le nombre de clé en doublon:
0
0 doublons dans la table infoPro.

<div style="border: 1px solid rgb(208,176,157);">

<p style="margin-left : 5px; rgb(133,143,148);">Vérification : Est-ce que chaque ligne correspond à un seul et unique Salarié ?
</p>
</div>

In [4]:
# Vérifier si les valeurs de la colonne 'client_id' sont uniques
id_salariés = infoPro['id_salarié'].is_unique

# Afficher le résultat
if id_salariés:
    print("Toutes les valeurs dans la colonne 'id_salarié' sont uniques.")
else:
    print("Il y a des valeurs dupliquées dans la colonne 'id_salarié'.")

Toutes les valeurs dans la colonne 'id_salarié' sont uniques.

<div style=" border: 1px solid  rgb(208,176,157);" >
<h3 style="margin: auto; padding: 20px; color: rgb(133,143,148); ">2.2 - Chargement du fichier REMUNERATION</h3>
</div>

In [5]:
#Analyse du fichier products
print(f'le nombre de valeurs vide dans le fichier est : ')
print(remuneration.isnull().sum())
print("*********************")
print(remuneration.head())
print("*********************")
print(remuneration.info())
print("*********************")
print(remuneration.describe())
print("*********************")

#Le nombre de clé client_id en doublon
print(f'le nombre de clé en doublon: ')
print(remuneration['id_salarié'].duplicated().sum())

print(remuneration.duplicated(subset=None, keep='first').sum(), "doublons dans la table products.")

# Remplacer les valeurs vides par 0 dans les colonnes "Augmentation" et "Promotion"
remuneration[['Augmentation', 'Promotion']] = remuneration[['Augmentation', 'Promotion']].fillna(0)
print(remuneration.isnull().sum())

le nombre de valeurs vide dans le fichier est :
id_salarié               0
Contrat                  0
Durée hebdo              0
Salaire base mensuel     0
%variable_moyen          0
Augmentation            15
Promotion               15
dtype: int64
*********************
      id_salarié Contrat  Durée hebdo  Salaire base mensuel  %variable_moyen  \
0  16990924-2829     CDI           35             9873.5000               13
1  16990414-3527     CDI           35             4296.7167               39
2  16981206-3817     CDI           35             3705.2167               29
3  16970415-1050     CDI           35             1697.1500               17
4  16960906-7989     CDD           35             2848.3000               15

   Augmentation  Promotion
0           0.0        0.0
1           0.0        1.0
2           1.0        1.0
3           1.0        0.0
4           1.0        0.0
*********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_salarié            256 non-null    object
 1   Contrat               256 non-null    object
 2   Durée hebdo           256 non-null    int64
 3   Salaire base mensuel  256 non-null    float64
 4   %variable_moyen       256 non-null    int64
 5   Augmentation          241 non-null    float64
 6   Promotion             241 non-null    float64
dtypes: float64(3), int64(2), object(2)
memory usage: 14.1+ KB
None
*********************
       Durée hebdo  Salaire base mensuel  %variable_moyen  Augmentation  \
count   256.000000            256.000000       256.000000    241.000000
mean     33.871094           5326.530626        20.027344      0.518672
std       3.203397           2505.493530        11.529809      0.500691
min      24.000000           1059.760000         0.000000      0.000000
25%      35.000000           3111.918325        10.000000      0.000000
50%      35.000000           5084.625000        19.000000      1.000000
75%      35.000000           7407.020850        30.000000      1.000000
max      35.000000           9999.383300        40.000000      1.000000

        Promotion
count  241.000000
mean     0.518672
std      0.500691
min      0.000000
25%      0.000000
50%      1.000000
75%      1.000000
max      1.000000
*********************
le nombre de clé en doublon:
0
0 doublons dans la table products.
id_salarié              0
Contrat                 0
Durée hebdo             0
Salaire base mensuel    0
%variable_moyen         0
Augmentation            0
Promotion               0
dtype: int64

In [6]:

# Vérifier si les valeurs de la colonne 'id_salarié' sont uniques
unique_ids = remuneration['id_salarié'].is_unique

# Afficher le résultat
if unique_ids:
    print("Toutes les valeurs dans la colonne 'id_salarié' sont uniques.")
else:
    print("Il y a des valeurs dupliquées dans la colonne 'id_salarié'.")

Toutes les valeurs dans la colonne 'id_salarié' sont uniques.

<div style=" border: 1px solid  rgb(208,176,157);" >
<h3 style="margin: auto; padding: 20px; color: rgb(133,143,148); ">2.3 - Chargement du fichier SALARIES</h3>
</div>

In [7]:
#Analyse du fichier transactions
print(f'le nombre de valeurs vide dans le fichier est : ')
print(salaries.isnull().sum())
print("*********************")
print(salaries.head())
print("*********************")
print(salaries.info())
print("*********************")
print(salaries.describe())
print("*********************")

print(salaries.duplicated(subset=None, keep='first').sum(), "doublons dans la table SALARIES.")

salaries[['Etat Civil']] = salaries[['Etat Civil']].fillna(0)
print(salaries.isnull().sum())

le nombre de valeurs vide dans le fichier est :
id_salarié         0
Sexe               0
Prénom/Nom         0
Telephone          0
Date_naissance     0
Etat Civil        82
Enfants            0
dtype: int64
*********************
      id_salarié Sexe            Prénom/Nom  Telephone Date_naissance  \
0  16920105-1209    F      Solenne Delannoy  607958599     1955-07-07
1  16661123-8764    H       Nicolas Jaccoud  660029842     1970-09-22
2  16230718-4297    F     Alexandra Auguste  629910592     1965-03-01
3  16130305-6954    F  Marie-Claire Besnard  685888970     1963-09-02
4  16360125-5924    F        Marie Berengar  624840475     1959-04-02

    Etat Civil  Enfants
0  Célibataire        1
1  Célibataire        3
2        Marié        1
3          NaN        1
4        Marié        3
*********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_salarié      256 non-null    object
 1   Sexe            256 non-null    object
 2   Prénom/Nom      256 non-null    object
 3   Telephone       256 non-null    int64
 4   Date_naissance  256 non-null    datetime64[ns]
 5   Etat Civil      174 non-null    object
 6   Enfants         256 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 14.1+ KB
None
*********************
          Telephone              Date_naissance     Enfants
count  2.560000e+02                         256  256.000000
mean   6.511928e+08  1970-12-28 22:46:52.500000    1.460938
min    6.003126e+08         1954-12-07 00:00:00    0.000000
25%    6.251080e+08         1963-10-17 00:00:00    0.000000
50%    6.514391e+08         1970-06-08 12:00:00    1.000000
75%    6.783984e+08         1978-07-24 12:00:00    2.000000
max    6.991239e+08         1991-01-30 00:00:00    3.000000
std    2.915357e+07                         NaN    1.123038
*********************
0 doublons dans la table SALARIES.
id_salarié        0
Sexe              0
Prénom/Nom        0
Telephone         0
Date_naissance    0
Etat Civil        0
Enfants           0
dtype: int64

<div style=" border: 1px solid  rgb(208,176,157);" >
<h3 style="margin: auto; padding: 20px; color: rgb(133,143,148); ">3. Jointure</h3>
</div>

In [ ]:
df_merged = infoPro.merge(remuneration, on='id_salarié', how='inner') \
                   .merge(salaries, on='id_salarié', how='inner')

print(df_merged.columns) # Afficher les colonnes du dataframe

df_merged.to_excel('df_merged.xlsx', index=False)

Index(['id_salarié', 'Ancienneté_an', 'Distance domicile/Travail', 'Service',
       'Work_accident', 'Niveau de satisfaction', 'Contrat', 'Durée hebdo',
       'Salaire base mensuel', '%variable_moyen', 'Augmentation', 'Promotion',
       'Sexe', 'Prénom/Nom', 'Telephone', 'Date_naissance', 'Etat Civil',
       'Enfants'],
      dtype='object')

<div style=" border: 1px solid  rgb(208,176,157);" >
<h3 style="margin: auto; padding: 20px; color: rgb(133,143,148); ">4. FICHIER TABLE FINALE KNIME</h3>
</div>

In [ ]:
knimeTable = pd.read_csv('Table_finale.csv', sep=(','))
#Analyse du fichier products
print(f'le nombre de valeurs vide dans le fichier est : ')
print(knimeTable.isnull().sum())
print("*********************")
print(knimeTable.head())
print("*********************")
print(knimeTable.info())
print("*********************")
print(knimeTable.describe())
print("*********************")





print(remuneration.duplicated(subset=None, keep='first').sum(), "doublons dans la table products.")
knimeTable.to_excel('knimeTable.xlsx', index=False)

le nombre de valeurs vide dans le fichier est :
Contrat                      0
Durée hebdo                  0
Salaire base mensuel         0
%variable_moyen              0
Augmentation                 0
Promotion                    0
Sexe                         0
Etat Civil                   0
Enfants                      0
Ancienneté_an                0
Distance domicile/Travail    0
Service                      0
Work_accident                0
Niveau de satisfaction       0
age                          0
Primary_key                  0
tranche_age                  0
Salaire_brut_annuel          0
ETP                          0
dtype: int64
*********************
  Contrat  Durée hebdo  Salaire base mensuel  %variable_moyen  Augmentation  \
0     CDI           35             3097.0333               13             0
1     CDI           35             5984.7667                6             0
2     CDI           24             3853.2000                9             1
3     CDI           35             5739.0667                6             1
4     CDI           35             3800.7667                9             1

   Promotion Sexe   Etat Civil  Enfants  Ancienneté_an  \
0          0    F  Célibataire        1           25.0
1          1    H  Célibataire        3           24.9
2          1    F        Marié        1           24.8
3          1    F            0        1           24.7
4          1    F        Marié        3           24.7

   Distance domicile/Travail          Service Work_accident  \
0                         58       Consultant           Non
1                         62       Commercial           Non
2                         44  Compta Finances           Oui
3                         30       Consultant           Non
4                         53       Commercial           Non

   Niveau de satisfaction  age  Primary_key tranche_age  Salaire_brut_annuel  \
0                      19   69            1  Plus de 65                41996
1                      17   54            2       50-64                76126
2                      47   59            3       50-64                50400
3                      51   61            4       50-64                73001
4                      61   65            5  Plus de 65                49714

             ETP
0    Plein Temps
1    Plein Temps
2  Temps Partiel
3    Plein Temps
4    Plein Temps
*********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Contrat                    256 non-null    object
 1   Durée hebdo                256 non-null    int64
 2   Salaire base mensuel       256 non-null    float64
 3   %variable_moyen            256 non-null    int64
 4   Augmentation               256 non-null    int64
 5   Promotion                  256 non-null    int64
 6   Sexe                       256 non-null    object
 7   Etat Civil                 256 non-null    object
 8   Enfants                    256 non-null    int64
 9   Ancienneté_an              256 non-null    float64
 10  Distance domicile/Travail  256 non-null    int64
 11  Service                    256 non-null    object
 12  Work_accident              256 non-null    object
 13  Niveau de satisfaction     256 non-null    int64
 14  age                        256 non-null    int64
 15  Primary_key                256 non-null    int64
 16  tranche_age                256 non-null    object
 17  Salaire_brut_annuel        256 non-null    int64
 18  ETP                        256 non-null    object
dtypes: float64(2), int64(10), object(7)
memory usage: 38.1+ KB
None
*********************
       Durée hebdo  Salaire base mensuel  %variable_moyen  Augmentation  \
count   256.000000            256.000000       256.000000    256.000000
mean     33.871094           5326.530626        20.027344      0.488281
std       3.203397           2505.493530        11.529809      0.500842
min      24.000000           1059.760000         0.000000      0.000000
25%      35.000000           3111.918325        10.000000      0.000000
50%      35.000000           5084.625000        19.000000      0.000000
75%      35.000000           7407.020850        30.000000      1.000000
max      35.000000           9999.383300        40.000000      1.000000

        Promotion     Enfants  Ancienneté_an  Distance domicile/Travail  \
count  256.000000  256.000000     256.000000                 256.000000
mean     0.488281    1.460938      13.160938                  38.433594
std      0.500842    1.123038       7.020684                  19.834301
min      0.000000    0.000000       0.300000                   3.000000
25%      0.000000    0.000000       7.375000                  22.000000
50%      0.000000    1.000000      12.750000                  40.500000
75%      1.000000    2.000000      19.300000                  57.000000
max      1.000000    3.000000      25.000000                  70.000000

       Niveau de satisfaction         age  Primary_key  Salaire_brut_annuel
count              256.000000  256.000000   256.000000           256.000000
mean                50.687500   53.339844   128.500000         76730.425781
std                 27.837413    9.031412    74.045031         36719.281824
min                  1.000000   33.000000     1.000000         12844.000000
25%                 30.000000   46.000000    64.750000         45775.750000
50%                 50.500000   54.000000   128.500000         72428.500000
75%                 73.000000   61.000000   192.250000        108724.250000
max                100.000000   69.000000   256.000000        161998.000000
*********************
0 doublons dans la table products.